.coursesCardsGrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

/*
    breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
    );
*/

@media screen and (max-width: 1400px) {
  .coursesCardsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .coursesCardsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .coursesCardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .coursesCardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .coursesCardsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
