.coursesTabContent {
  border: 1px solid #888;
  padding: 2.2rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 80%;
}

.coursesTabDesc {
  margin: 0.8rem 0;
  max-width: 80rem;
}

.coursesExploreBtn {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-block;
}

.coursesExploreBtn:hover {
  background-color: #ddd;
  border: 1px solid #999;
}

