.courseCard {
  min-width: 200px;
  max-width: 300px;
  margin-bottom: 0.5rem;
}

.courseCard img {
  width: 100%;
}

.courseCard:hover img {
  filter: brightness(75%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.courseCard a {
  color: #000;
  text-decoration: none;
}

.courseTitle {
    font-size: 15px;
}

.courseInstructor {
  padding: 0.3rem 0;
  color: #666;
  font-size: 0.9rem;
}

.courseRating {
  color: rgb(229, 195, 0);
}

.courseRatingStars {
  font-size: 0.8rem;
  margin: 0 0.2rem;
}

.courseRatingNum {
  font-weight: 800;
}

.courseViews {
  font-size: 0.8rem;
  color: #555;
}

.coursePrice {
  color: #222;
  font-weight: 700;
}

.courseOldPrice {
  text-decoration: line-through;
  color: #555;
  margin-left: 0.3rem;
}

.courseBestseller {
  background-color: #eceb98;
  color: #3d3c0a;
  font-weight: 800;
  padding: 0.3rem;
  margin: 0.3rem 0;
  display: inline-block;
  border-radius: 0.15rem;
  box-shadow: 0 0 5px #ff0;
}

